name: dockerize-templated

on:
  workflow_call:
    inputs:
     contextdir:
      description: Docker context dir
      type: string
      required: false
      default: ""
     dockerfile: 
      description: Dockerfile path
      type: string
      required: true
     tag:
      description: Docker tag
      type: string
      required: true
    secrets:
      username: 
        description: Docker hub username
        required: true
      token:
        description: Docker hub token
        required: true

jobs:
  dockerize:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.username }}
          password: ${{ secrets.token }}
      - name: Lint
        run: make lint
      - name: Build and publish
        run: | 
          set -Eeuo pipefail
          make build \
            DOCKERFILE="${{ inputs.dockerfile }}" \
            CONTEXT_DIR="${{ inputs.contextdir }}" \
            TAG="${{ inputs.tag }}"
          docker push "${{ inputs.tag }}"

